@font-face {
  font-family: 'Roboto-grid';
  src: url("../fonts/Roboto-Regular.ttf"); }

html {
  font-family: Arial, sans-serif, Helvetica; }

.navbar-header .navbar-brand {
  font-size: 2em;
  color: #9013FE; }

.nav .nav-item .nav-link {
  text-transform: uppercase;
  color: #7D7D7D;
  padding: 15px 0;
  margin: 0 20px; }

.nav .nav-item .nav-link:hover {
  background-color: transparent;
  border-bottom: 4px solid #292A60; }

.nav .nav-item-custom {
  padding: 10px 0; }

.profile {
  line-height: 30px; }

.profile-img {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: plum;
  float: left; }

.profile-descr {
  float: right;
  padding: 5px;
  line-height: 0.8em; }

.profile-name {
  text-transform: uppercase;
  font-weight: 600; }

.profile-num {
  font-size: 0.8em; }
